@font-face {
    font-family: 'GHKKengTung';
    src: url('https://khurkham.github.io/fonts/GHKKengTung.eot');
    src: url('https://khurkham.github.io/fonts/GHKKengTung.eot') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/GHKKengTung.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/GHKKengTung.woff') format('woff'),
         url('https://khurkham.github.io/fonts/GHKKengTung.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/GHKKengTung.svg#GHKKengTung') format('svg');
}

@font-face {
    font-family: 'GHKMuse';
    src: url('https://khurkham.github.io/fonts/GHKMuse.eot');
    src: url('https://khurkham.github.io/fonts/GHKMuse.eot') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/GHKMuse.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/GHKMuse.woff') format('woff'),
         url('https://khurkham.github.io/fonts/GHKMuse.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/GHKMuse.svg#GHKMuse') format('svg');
}

@font-face {
    font-family: 'GHKTachileik';
    src: url('https://khurkham.github.io/fonts/GHKTachileik.eot');
    src: url('https://khurkham.github.io/fonts/GHKTachileik.eot') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/GHKTachileik.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/GHKTachileik.woff') format('woff'),
         url('https://khurkham.github.io/fonts/GHKTachileik.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/GHKTachileik.svg#GHKTachileik') format('svg');
}

@font-face {
    font-family: 'GHKTaungGyi';
    src: url('https://khurkham.github.io/fonts/GHKTaungGyi.eot');
    src: url('https://khurkham.github.io/fonts/GHKTaungGyi.eot') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/GHKTaungGyi.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/GHKTaungGyi.woff') format('woff'),
         url('https://khurkham.github.io/fonts/GHKTaungGyi.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/GHKTaungGyi.svg#GHKTaungGyi') format('svg');
}

@font-face {
    font-family: 'GHKTaungGyi2';
    src: url('https://khurkham.github.io/fonts/GHKTaungGyi2.eot');
    src: url('https://khurkham.github.io/fonts/GHKTaungGyi2.eot') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/GHKTaungGyi2.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/GHKTaungGyi2.woff') format('woff'),
         url('https://khurkham.github.io/fonts/GHKTaungGyi2.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/GHKTaungGyi2.svg#GHKTaungGyi2') format('svg');
}

@font-face {
    font-family: 'GreatHorKhamYangon';
    src: url('https://khurkham.github.io/fonts/GreatHorKhamYangon.eot');
    src: url('https://khurkham.github.io/fonts/GreatHorKhamYangon.eot') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/GreatHorKhamYangon.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/GreatHorKhamYangon.woff') format('woff'),
         url('https://khurkham.github.io/fonts/GreatHorKhamYangon.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/GreatHorKhamYangon.svg#GreatHorKhamYangon') format('svg');
}


@font-face {
    font-family: 'hopone';
    src: url('https://khurkham.github.io/fonts/hopone-taifont.eot');
    src: url('https://khurkham.github.io/fonts/hopone-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/hopone-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/hopone-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/hopone-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/hopone-taifont.svg#hoponeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jasmine_unicode';
    src: url('https://khurkham.github.io/fonts/jasmineunicode-taifont.eot');
    src: url('https://khurkham.github.io/fonts/jasmineunicode-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/jasmineunicode-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/jasmineunicode-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/jasmineunicode-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/jasmineunicode-taifont.svg#jasmine_unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'keangtawng001';
    src: url('https://khurkham.github.io/fonts/keangtawng001-taifont.eot');
    src: url('https://khurkham.github.io/fonts/keangtawng001-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/keangtawng001-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/keangtawng001-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/keangtawng001-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/keangtawng001-taifont.svg#keangtawng001regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kengtawng002';
    src: url('https://khurkham.github.io/fonts/kengtawng2-taifont.eot');
    src: url('https://khurkham.github.io/fonts/kengtawng2-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/kengtawng2-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/kengtawng2-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/kengtawng2-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/kengtawng2-taifont.svg#kengtawng.002regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'khunpaoh';
    src: url('https://khurkham.github.io/fonts/khunpaoh-taifont.eot');
    src: url('https://khurkham.github.io/fonts/khunpaoh-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/khunpaoh-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/khunpaoh-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/khunpaoh-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/khunpaoh-taifont.svg#khunpaohregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_khyay';
    src: url('https://khurkham.github.io/fonts/khyay-taifont.eot');
    src: url('https://khurkham.github.io/fonts/khyay-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/khyay-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/khyay-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/khyay-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/khyay-taifont.svg#myanmar_khyayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kt_unicode_font_2';
    src: url('https://khurkham.github.io/fonts/kt2-taifont.eot');
    src: url('https://khurkham.github.io/fonts/kt2-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/kt2-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/kt2-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/kt2-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/kt2-taifont.svg#kt_unicode_font_2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'luentai2017';
    src: url('https://khurkham.github.io/fonts/luentai1-taifont.eot');
    src: url('https://khurkham.github.io/fonts/luentai1-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/luentai1-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/luentai1-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/luentai1-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/luentai1-taifont.svg#luentai2017regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'luentai_info';
    src: url('https://khurkham.github.io/fonts/luentai2-taifont.eot');
    src: url('https://khurkham.github.io/fonts/luentai2-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/luentai2-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/luentai2-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/luentai2-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/luentai2-taifont.svg#luentai.inforegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'masterpiece_uni_round';
    src: url('https://khurkham.github.io/fonts/masterpieceuniround-taifont.eot');
    src: url('https://khurkham.github.io/fonts/masterpieceuniround-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/masterpieceuniround-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/masterpieceuniround-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/masterpieceuniround-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/masterpieceuniround-taifont.svg#masterpiece_uni_roundregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mm_ethnic';
    src: url('https://khurkham.github.io/fonts/mmethnic-taifont.eot');
    src: url('https://khurkham.github.io/fonts/mmethnic-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/mmethnic-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/mmethnic-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/mmethnic-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/mmethnic-taifont.svg#mm_ethnicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mm_jasmine';
    src: url('https://khurkham.github.io/fonts/mmjasmine-taifont.eot');
    src: url('https://khurkham.github.io/fonts/mmjasmine-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/mmjasmine-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/mmjasmine-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/mmjasmine-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/mmjasmine-taifont.svg#mm_jasmineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mm_phetkon';
    src: url('https://khurkham.github.io/fonts/mmphetkon-taifont.eot');
    src: url('https://khurkham.github.io/fonts/mmphetkon-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/mmphetkon-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/mmphetkon-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/mmphetkon-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/mmphetkon-taifont.svg#mm_phetkonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mm_taunggyi';
    src: url('https://khurkham.github.io/fonts/mmtaunggyi-taifont.eot');
    src: url('https://khurkham.github.io/fonts/mmtaunggyi-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/mmtaunggyi-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/mmtaunggyi-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/mmtaunggyi-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/mmtaunggyi-taifont.svg#mm_taunggyiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mua_office';
    src: url('https://khurkham.github.io/fonts/muaoffice-taifont.eot');
    src: url('https://khurkham.github.io/fonts/muaoffice-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/muaoffice-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/muaoffice-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/muaoffice-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/muaoffice-taifont.svg#mua_officeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanglish';
    src: url('https://khurkham.github.io/fonts/myanglish-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanglish-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanglish-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanglish-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanglish-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanglish-taifont.svg#myanglishregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_angoun';
    src: url('https://khurkham.github.io/fonts/myanmarangoun-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarangoun-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarangoun-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarangoun-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarangoun-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarangoun-taifont.svg#myanmar_angounregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_april_display';
    src: url('https://khurkham.github.io/fonts/myanmaraprildisplay-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmaraprildisplay-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmaraprildisplay-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmaraprildisplay-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmaraprildisplay-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmaraprildisplay-taifont.svg#myanmar_april_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_chatu';
    src: url('https://khurkham.github.io/fonts/myanmarchatu-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarchatu-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarchatu-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarchatu-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarchatu-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarchatu-taifont.svg#myanmar_chaturegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_ethnic';
    src: url('https://khurkham.github.io/fonts/myanmarethnic-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarethnic-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarethnic-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarethnic-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarethnic-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarethnic-taifont.svg#myanmar_ethnicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_gantgaw';
    src: url('https://khurkham.github.io/fonts/myanmargantgaw-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmargantgaw-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmargantgaw-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmargantgaw-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmargantgaw-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmargantgaw-taifont.svg#myanmar_gantgawregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_head_one';
    src: url('https://khurkham.github.io/fonts/myanmarheadone-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarheadone-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarheadone-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarheadone-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarheadone-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarheadone-taifont.svg#myanmar_head_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_kalay';
    src: url('https://khurkham.github.io/fonts/myanmarkalay-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarkalay-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarkalay-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarkalay-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarkalay-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarkalay-taifont.svg#myanmar_kalayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_katkuu';
    src: url('https://khurkham.github.io/fonts/myanmarkatkuu-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarkatkuu-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarkatkuu-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarkatkuu-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarkatkuu-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarkatkuu-taifont.svg#myanmar_katkuuregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_kuttar';
    src: url('https://khurkham.github.io/fonts/myanmarkuttar-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarkuttar-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarkuttar-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarkuttar-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarkuttar-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarkuttar-taifont.svg#myanmar_kuttarregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_nayone';
    src: url('https://khurkham.github.io/fonts/myanmarnayone-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarnayone-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarnayone-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarnayone-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarnayone-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarnayone-taifont.svg#myanmar_nayoneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_njaun';
    src: url('https://khurkham.github.io/fonts/myanmarnjaun-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarnjaun-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarnjaun-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarnjaun-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarnjaun-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarnjaun-taifont.svg#myanmar_njaunregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmarpaohone';
    src: url('https://khurkham.github.io/fonts/myanmarpaohone-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarpaohone-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarpaohone-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarpaohone-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarpaohone-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarpaohone-taifont.svg#myanmarpaohoneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_pauklay';
    src: url('https://khurkham.github.io/fonts/myanmarpauklay-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarpauklay-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarpauklay-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarpauklay-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarpauklay-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarpauklay-taifont.svg#myanmar_pauklayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_phetsot';
    src: url('https://khurkham.github.io/fonts/myanmarphetsot-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarphetsot-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarphetsot-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarphetsot-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarphetsot-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarphetsot-taifont.svg#myanmar_phetsotregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_pixel';
    src: url('https://khurkham.github.io/fonts/myanmarpixel-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarpixel-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarpixel-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarpixel-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarpixel-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarpixel-taifont.svg#myanmar_pixelregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_pixel_smooth';
    src: url('https://khurkham.github.io/fonts/myanmarpixelsmooth-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarpixelsmooth-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarpixelsmooth-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarpixelsmooth-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarpixelsmooth-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarpixelsmooth-taifont.svg#myanmar_pixel_smoothregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_ponenyet';
    src: url('https://khurkham.github.io/fonts/myanmarponenyet-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarponenyet-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarponenyet-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarponenyet-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarponenyet-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarponenyet-taifont.svg#myanmar_ponenyetregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_punk';
    src: url('https://khurkham.github.io/fonts/myanmarpunk-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarpunk-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarpunk-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarpunk-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarpunk-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarpunk-taifont.svg#myanmar_punkregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_pyu_pro';
    src: url('https://khurkham.github.io/fonts/myanmarpyupro-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarpyupro-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarpyupro-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarpyupro-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarpyupro-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarpyupro-taifont.svg#myanmar_pyu_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_sabae';
    src: url('https://khurkham.github.io/fonts/myanmarsabae-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarsabae-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarsabae-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarsabae-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarsabae-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarsabae-taifont.svg#myanmar_sabaeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_sagar';
    src: url('https://khurkham.github.io/fonts/myanmarsagar-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarsagar-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarsagar-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarsagar-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarsagar-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarsagar-taifont.svg#myanmar_sagarregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_sanpya';
    src: url('https://khurkham.github.io/fonts/myanmarsanpya-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarsanpya-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarsanpya-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarsanpya-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarsanpya-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarsanpya-taifont.svg#myanmar_sanpyaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_sans_pro';
    src: url('https://khurkham.github.io/fonts/myanmarsanspro-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarsanspro-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarsanspro-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarsanspro-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarsanspro-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarsanspro-taifont.svg#myanmar_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_square';
    src: url('https://khurkham.github.io/fonts/myanmarsquare-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarsquare-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarsquare-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarsquare-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarsquare-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarsquare-taifont.svg#myanmar_squareregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_square_light';
    src: url('https://khurkham.github.io/fonts/myanmarsquarelight-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarsquarelight-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarsquarelight-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarsquarelight-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarsquarelight-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarsquarelight-taifont.svg#myanmar_square_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_thuriya';
    src: url('https://khurkham.github.io/fonts/myanmarthuriya-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmarthuriya-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmarthuriya-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmarthuriya-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmarthuriya-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmarthuriya-taifont.svg#myanmar_thuriyaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'myanmar_yinmar';
    src: url('https://khurkham.github.io/fonts/myanmaryinmar-taifont.eot');
    src: url('https://khurkham.github.io/fonts/myanmaryinmar-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/myanmaryinmar-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/myanmaryinmar-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/myanmaryinmar-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/myanmaryinmar-taifont.svg#myanmar_yinmarregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'namkhoneunicode';
    src: url('https://khurkham.github.io/fonts/namkhoneunicode-taifont.eot');
    src: url('https://khurkham.github.io/fonts/namkhoneunicode-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/namkhoneunicode-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/namkhoneunicode-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/namkhoneunicode-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/namkhoneunicode-taifont.svg#namkhoneunicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'namkhone_web_pro';
    src: url('https://khurkham.github.io/fonts/namkhonewebpro-taifont.eot');
    src: url('https://khurkham.github.io/fonts/namkhonewebpro-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/namkhonewebpro-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/namkhonewebpro-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/namkhonewebpro-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/namkhonewebpro-taifont.svg#namkhone_web_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'namteng';
    src: url('https://khurkham.github.io/fonts/namteng-taifont.eot');
    src: url('https://khurkham.github.io/fonts/namteng-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/namteng-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/namteng-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/namteng-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/namteng-taifont.svg#namtengregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'namteng_2017';
    src: url('https://khurkham.github.io/fonts/namteng2017-taifont.eot');
    src: url('https://khurkham.github.io/fonts/namteng2017-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/namteng2017-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/namteng2017-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/namteng2017-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/namteng2017-taifont.svg#namteng_2017regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'namteng_web_pro';
    src: url('https://khurkham.github.io/fonts/namtengwebpro-taifont.eot');
    src: url('https://khurkham.github.io/fonts/namtengwebpro-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/namtengwebpro-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/namtengwebpro-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/namtengwebpro-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/namtengwebpro-taifont.svg#namteng_web_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nk_ssmart2';
    src: url('https://khurkham.github.io/fonts/nkssmart2-taifont.eot');
    src: url('https://khurkham.github.io/fonts/nkssmart2-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/nkssmart2-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/nkssmart2-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/nkssmart2-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/nkssmart2-taifont.svg#nk_ssmart2regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nk_ssmart3';
    src: url('https://khurkham.github.io/fonts/nkssmart3-taifont.eot');
    src: url('https://khurkham.github.io/fonts/nkssmart3-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/nkssmart3-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/nkssmart3-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/nkssmart3-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/nkssmart3-taifont.svg#nk_ssmart3regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nk_ssmart4';
    src: url('https://khurkham.github.io/fonts/nkssmart4-taifont.eot');
    src: url('https://khurkham.github.io/fonts/nkssmart4-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/nkssmart4-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/nkssmart4-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/nkssmart4-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/nkssmart4-taifont.svg#nk_ssmart4regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ours_unicode';
    src: url('https://khurkham.github.io/fonts/ours-unicode-taifont.eot');
    src: url('https://khurkham.github.io/fonts/ours-unicode-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/ours-unicode-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/ours-unicode-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/ours-unicode-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/ours-unicode-taifont.svg#ours-unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'panglong';
    src: url('https://khurkham.github.io/fonts/panglong-taifont.eot');
    src: url('https://khurkham.github.io/fonts/panglong-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/panglong-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/panglong-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/panglong-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/panglong-taifont.svg#panglongregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'pyidaungsu';
    src: url('https://khurkham.github.io/fonts/pyidaungsu-taifont.eot');
    src: url('https://khurkham.github.io/fonts/pyidaungsu-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/pyidaungsu-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/pyidaungsu-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/pyidaungsu-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/pyidaungsu-taifont.svg#pyidaungsuregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shan_unicode';
    src: url('https://khurkham.github.io/fonts/shanunicode-taifont.eot');
    src: url('https://khurkham.github.io/fonts/shanunicode-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/shanunicode-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/shanunicode-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/shanunicode-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/shanunicode-taifont.svg#shan_unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'shan_wanhai';
    src: url('https://khurkham.github.io/fonts/shanwanhai-taifont.eot');
    src: url('https://khurkham.github.io/fonts/shanwanhai-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/shanwanhai-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/shanwanhai-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/shanwanhai-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/shanwanhai-taifont.svg#shan_wanhairegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tharlon';
    src: url('https://khurkham.github.io/fonts/tharlon-taifont.eot');
    src: url('https://khurkham.github.io/fonts/tharlon-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/tharlon-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/tharlon-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/tharlon-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/tharlon-taifont.svg#tharlonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uni_heart_lineline';
    src: url('https://khurkham.github.io/fonts/uniheartlineline-taifont.eot');
    src: url('https://khurkham.github.io/fonts/uniheartlineline-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/uniheartlineline-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/uniheartlineline-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/uniheartlineline-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/uniheartlineline-taifont.svg#uni-heart_linelineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yunghkio';
    src: url('https://khurkham.github.io/fonts/yunghkio-taifont.eot');
    src: url('https://khurkham.github.io/fonts/yunghkio-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/yunghkio-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/yunghkio-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/yunghkio-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/yunghkio-taifont.svg#yunghkioregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yunghkio_004';
    src: url('https://khurkham.github.io/fonts/yunghkio004-taifont.eot');
    src: url('https://khurkham.github.io/fonts/yunghkio004-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/yunghkio004-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/yunghkio004-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/yunghkio004-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/yunghkio004-taifont.svg#yunghkio_004regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yunghkio_pop';
    src: url('https://khurkham.github.io/fonts/yunghkiopop-taifont.eot');
    src: url('https://khurkham.github.io/fonts/yunghkiopop-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/yunghkiopop-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/yunghkiopop-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/yunghkiopop-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/yunghkiopop-taifont.svg#yunghkio_popregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yunghkio_unicode';
    src: url('https://khurkham.github.io/fonts/yunghkiounicode-taifont.eot');
    src: url('https://khurkham.github.io/fonts/yunghkiounicode-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/yunghkiounicode-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/yunghkiounicode-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/yunghkiounicode-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/yunghkiounicode-taifont.svg#yunghkio_unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cherry_unicode';
    src: url('https://khurkham.github.io/fonts/cherryunicode-taifont.eot');
    src: url('https://khurkham.github.io/fonts/cherryunicode-taifont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/cherryunicode-taifont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/cherryunicode-taifont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/cherryunicode-taifont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/cherryunicode-taifont.svg#cherry_unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_ying_01_unicoderegular';
    src: url('https://khurkham.github.io/fonts/aying01unicode-webfont.eot');
    src: url('https://khurkham.github.io/fonts/aying01unicode-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/aying01unicode-webfont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/aying01unicode-webfont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/aying01unicode-webfont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/aying01unicode-webfont.svg#a_ying_01_unicoderegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '003_koz_kjrregular';
    src: url('https://khurkham.github.io/fonts/003kozkjr-webfont.eot');
    src: url('https://khurkham.github.io/fonts/003kozkjr-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/003kozkjr-webfont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/003kozkjr-webfont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/003kozkjr-webfont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/003kozkjr-webfont.svg#003_koz_kjrregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'a_ying_70normal';
    src: url('https://khurkham.github.io/fonts/a-ying70-webfont.eot');
    src: url('https://khurkham.github.io/fonts/a-ying70-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/a-ying70-webfont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/a-ying70-webfont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/a-ying70-webfont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/a-ying70-webfont.svg#a_ying_70normal') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bshanbbregular';
    src: url('https://khurkham.github.io/fonts/bshanbb-webfont.eot');
    src: url('https://khurkham.github.io/fonts/bshanbb-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/bshanbb-webfont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/bshanbb-webfont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/bshanbb-webfont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/bshanbb-webfont.svg#bshanbbregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kt_unicode_03regular';
    src: url('https://khurkham.github.io/fonts/kt3-webfont.eot');
    src: url('https://khurkham.github.io/fonts/kt3-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/kt3-webfont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/kt3-webfont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/kt3-webfont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/kt3-webfont.svg#kt_unicode_03regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kawsai-24asa';
    src: url('https://khurkham.github.io/fonts/kawsai-24-webfont.eot');
    src: url('https://khurkham.github.io/fonts/kawsai-24-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/kawsai-24-webfont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/kawsai-24-webfont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/kawsai-24-webfont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/kawsai-24-webfont.svg#kawsai-24asa') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mm_baganregular';
    src: url('https://khurkham.github.io/fonts/mmbagan-webfont.eot');
    src: url('https://khurkham.github.io/fonts/mmbagan-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/mmbagan-webfont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/mmbagan-webfont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/mmbagan-webfont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/mmbagan-webfont.svg#mm_baganregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mm_taunggyiregular';
    src: url('https://khurkham.github.io/fonts/mmtaunggyi-webfont.eot');
    src: url('https://khurkham.github.io/fonts/mmtaunggyi-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://khurkham.github.io/fonts/mmtaunggyi-webfont.woff2') format('woff2'),
         url('https://khurkham.github.io/fonts/mmtaunggyi-webfont.woff') format('woff'),
         url('https://khurkham.github.io/fonts/mmtaunggyi-webfont.ttf') format('truetype'),
         url('https://khurkham.github.io/fonts/mmtaunggyi-webfont.svg#mm_taunggyiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

